<div class="navbar navbar-inverse navbar-static-top">
  
  <div class="container">
    
    <a href="#" class="navbar-brand">Alpha Blog</a>
        
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to 'Home', root_path %></li>
<!--         <li><a href="#">About</a></li> -->
        <li><%= link_to 'About', about_path %></li>

      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Alpha Blog</h1>
    <p>Lorem Khaled Ipsum is a major key to success. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. They will try to close the door on you, just open it. To be successful you’ve got to work hard, to make history, simple, you’ve got to make it.</p>
    <a class="btn btn-success">Sign Up Now!</a>
    <a class="btn btn-info">View Posts</a>

  </div>
</div>
<div class="container" id="content">
  
  <div class="row">

    <div class="col-md-3 text-center">
      <h3><a href="#">Blog Post #1</a></h3>
      <p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Hammock talk come soon. You do know, you do know that they don’t want you to have lunch.</p>
      <a href="#" class="btn btn-default">Read More</a>
    </div>

    <div class="col-md-3 text-center">
      <h3><a href="#">Blog Post #2</a></h3>
      <p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Hammock talk come soon. You do know, you do know that they don’t want you to have lunch.</p>
      <a href="#" class="btn btn-default">Read More</a>
    </div>

    <div class="col-md-3 text-center">
      <h3><a href="#">Blog Post #3</a></h3>
      <p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Hammock talk come soon. You do know, you do know that they don’t want you to have lunch.</p>
      <a href="#" class="btn btn-default">Read More</a>
    </div>

    <div class="col-md-3 text-center">
      <h3><a href="#">Blog Post #4</a></h3>
      <p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Hammock talk come soon. You do know, you do know that they don’t want you to have lunch.</p>
      <a href="#" class="btn btn-default">Read More</a>
    </div>
    

  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">Site built by Stu Peters</p>
    <a class="navbar-btn btn-primary btn pull-right">Follow us on twitter</a>
  </div>
</div>